doctype html
html(lang="ja")
  head
    meta(charset="uft-8")
    link(href="./styles/main.css" rel="stylesheet")
    title es2015-samle
  body
    h1.hoge This is a sample of ES2015.
    main.main
      h2.content_title Main title
